<% include includes/header %>
<% include includes/pageheader %>
<% //var fileUploadModal = app.modal(postData); %>
<%- //fileUploadModal%>
<%

	var statusOptions = [
		['published', 'Publish'],
		['draft', 'Draft'],
		['trash', 'Trash']
	];
	if (postData._id) {
		var formPostTo = '/spry-admin/edit/' + postData._id;
		var submitButton = 'Update';
		var submitButtonProp = '';
		var formClass = 'update';
		var status = postData.status;

	} else {
		var formPostTo = '/spry-admin/edit';
		var submitButton = 'Create';
		var submitButtonProp = 'disabled';
		var formClass = 'create';
		var status = '';
	}
%>

	<div class="modal fade links-modal" id="linksinsertmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="existing-posts">
						<h5>Published Posts</h5>
						<input type="text" class="form-control" name="search-post-list" placeholder="Search for a post">
						<div class="list-group post-list">

						</div>
					</div>
					<div class="text-right">
						<button class="btn btn-link btn-xs external-url-toggle">or use an external URL</button>
					</div>
					<div class="link-selection">
						<div class="form-group">
							<label for="">Link text</label>
							<input type="text" class="form-control link-title" id="" placeholder="Link text">
						</div>
						<div class="form-group">
							<label for="">Link URL</label>
							<input type="text" class="form-control link-url" id="" placeholder="Link title">
						</div>
					</div>
					<div class="form-group">
						<label class="display-block text-semibold">Options</label>
						<div class="checkbox">
							<label>
								<div class="checker"><span class=""><input type="checkbox" name="blank" class="styled"></span></div>
								Open link in a new window/tab
							</label>
						</div>

						<div class="checkbox">
							<label>
								<div class="checker"><span class=""><input type="checkbox" name="nofollow" class="styled"></span></div>
								Add <span class="bg-grey-200 text-highlight">rel="nofollow"</span> to link
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary insert-link-to-post">Insert</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade uploads-modal" id="fileuploadsmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-full drag-drop" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h6 class="modal-title">Images and Files</h6>
                </div>
                <div class="modal-body">
                	<div class="image-edit"></div>
		        	<div class="drag-overlay off">
		        		<div class="icon-object border-white text-white"><i class="icon-upload"></i></div>
		        		<h2 class="text-white">Drop your file here to start uploading</h2>
		        	</div>
                	<div class="col-md-9 uploads-content image-display">
                		<div class="thumbnail-display">
                			<input id="upload-input" type="file" name="uploads[]" multiple="multiple">
							<div class="row file-details">
							</div>
                		</div>
                	</div>
                	<div class="col-md-3 uploads-sidebar image-display">
						<div class="col-md-12">
							<h5>Attachment Details</h5>
						</div>
						<div class="col-xs-5 sidebar-image-preview">
						</div>
						<div class="col-xs-7">
							<strong class="file-name"></strong>
							<div class="text-light upload-date"></div>
							<div class="text-light file-size"></div>
							<button class="btn btn-primary btn-sm edit-image-toggle">Edit Image</button>
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-3 text-right">
							<label>Title</label>
						</div>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="title" placeholder="Enter Title" value="">
						</div>
						<div class="col-xs-3 text-right">
							<label>Alt text</label>
						</div>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="title" placeholder="Enter Title" value="">
						</div>
						<div class="col-xs-3 text-right">
							<label>Caption</label>
						</div>
						<div class="col-xs-9">
							<textarea name="" class="form-control" placeholer="Message" rows="7"></textarea>
						</div>
						<div class="col-xs-3 text-right">
						</div>
						<div class="col-xs-9">
							<div class="checkbox">
								<label>
									<div class="checker"><span class=""><input type="checkbox" name="blank" class="styled"></span></div>
									Set as feature image
								</label>
							</div>
						</div>
						<div class="col-md-12">
							<h5>Insert Settings</h5>
						</div>
                	</div>
                </div>
                <div class="modal-footer">
                	<div class="thumbnail-display">
                		<div class="col-xs-12 selected-thumbnails text-left">
                			<h6>Selected images <small><a class="clear-selected-images">clear</a></small></h6>
                			<div class="selected-thumbnail-images">

                			</div>
                		</div>
                    	<div class="col-xs-6 text-left">
	                    	<button type="button" class="btn btn-primary upload-file-handler">Upload</button>
							<div class="btn-group dropup">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Get attachments from: <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li class="get-attachments this-post"><a href="#">This post</a></li>
									<li class="get-attachments all-posts"><a href="#">All posts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6">
	                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
	                        <button type="button" class="btn btn-info insert-selected-images">Insert image</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-title h6">
							<span>Navigation</span>
						</div>

						<div class="category-content no-padding">
							<% include includes/navigation %>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<%
					if (typeof alert !== 'undefined') {
						%>

				<div class="row">
						<div class="alert alert-info">
						<%
							switch(alert){
								case '1' :
									%> <strong>Post created</strong> <%
								break;
								case '2' :
									%> <strong>Post updated</strong>  <%
								break;
								default :
									%> <strong>Uhhmm... Whatcha do'n there?</strong> <%
								break;
							}
						%>
				</div>
						<%
					}

				%>
				<form class="row edit-form <%- formClass%>" action="<%- formPostTo%>" method="post">
					<input type="hidden" name="user" value="<%- user.username%>">
					<input type="hidden" name="userId" value="<%- user._id%>">
					<div class="col-md-9">
						<!-- Edit post -->
						<% var editor = app.editor(postData); %>
						<%- editor%>
						<script>
						    var editor = new wysihtml5.Editor('editor', {
						        toolbar: 'toolbar',
						        parserRules:  wysihtml5ParserRules
						    });
						</script>
						<!-- /edit post -->
					</div>
					<div class="col-md-3">
						<div class="panel panel-white publish-panel">
							<div class="panel-body publish-wrap">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label>Status</label>
											<select class="selectpicker form-control show-menu-arrow" name="status">
											<%
												for (var i = 0; i < statusOptions.length; i++) {
													var thisStatus = statusOptions[i][0];
													var currentPostStatus = status;

													if (thisStatus === currentPostStatus) {
														var selected = 'class="bg-teal-400" selected';
													} else {
														var selected = '';
													}
													%><option value="<%- thisStatus%>" <%- selected%>><%- statusOptions[i][1]%></option><%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<label>Template</label>
											<select class="selectpicker form-control show-menu-arrow" name="template">
												<option value="default">Default</option>
											<%

												for (var i = templates.length - 1; i >= 0; i--) {
													var value = templates[i].filename.replace('.ejs', '');
													%><option value="<%- value%>"><%- templates[i].name%></option><%
												}
											%>
											</select>
										</div>
									</div>
		                            <%
		                            	if (typeof postData.postUrl !== 'undefined') {
		                            		%>
											<div class="col-xs-12 text-right">
												<button type="submit" class="btn bg-danger-400 btn-labeled btn-labeled-right trash-editor"><b><i class="icon-bin"></i></b>Trash</button>
												<a href="<%- postData.postUrl%>" target="_blank" class="btn btn-primary">View post</a>
											</div>
		                            		<%
		                            	}
		                            %>
								</div>
							</div>
							<div class="panel-footer text-center text-danger">
	                            <div class="error_msg"></div>
	                            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right submit-editor pull-right" <%- submitButtonProp%> ><b><i class="icon-circle-right2"></i></b> <%- submitButton%></button>
							</div>
						</div>

						<div class="panel panel-white category-panel">
							<div class="panel-body publish-wrap">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label>Categories</label>
											<select class="selectpicker form-control show-menu-arrow">
											</select>
										</div>
										<div class="form-group">
											<label>Categories</label>
											<ul class="category-list list-unstyled">
												<li>Category 1 <button class="btn btn-xs" title="add to url">+</button> remove</li>
												<li>Category 1 <button class="btn btn-xs">+</button> remove</li>
												<li>Category 1 <button class="btn btn-xs">+</button> remove</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<% include includes/footer %>