<% include includes/header %>
<% include includes/pageheader %>
<%
	if (postData === 'not found') {
		alert = '99';
	}

	if (postData._id) {
		var formPostTo = `/${adminLocation}/edit/${postData._id}`;
		var submitButton = 'Update';
		var submitButtonProp = '';
		var formClass = 'update';
		var status = postData.status || 'draft';
		var template = postData.template || 'default';
		if (typeof postData.postStats === 'undefined') {
			postData.postStats = {};
		}
		var contentType = postData.contentType;

	} else {
		var formPostTo = `/${adminLocation}/edit`;
		var submitButton = 'Create';
		var submitButtonProp = 'disabled';
		var formClass = 'create';
		var status = '';
		var template = '';
		var postData = {
			postStats: {}
		};
		var contentType = queryVars.type;
	}
	//
%>
<% var fileUploadModal = app.fileUploadModal(postData); %>
<%- fileUploadModal %>
	<div class="modal fade links-modal" id="linksinsertmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="existing-posts">
						<h5>Published Posts</h5>
						<input type="text" class="form-control" name="search-post-list" placeholder="Search for a post">
						<div class="list-group post-list">

						</div>
					</div>
					<div class="text-right">
						<button class="btn btn-link btn-xs external-url-toggle">or use an external URL</button>
					</div>
					<div class="link-selection">
						<div class="form-group">
							<label for="">Link text</label>
							<input type="text" class="form-control link-title" id="" placeholder="Link text">
						</div>
						<div class="form-group">
							<label for="">Link URL</label>
							<input type="text" class="form-control link-url" id="" placeholder="Link title">
						</div>
					</div>
					<div class="form-group">
						<label class="display-block text-semibold">Options</label>
						<div class="checkbox">
							<label>
								<div class="checker"><span class=""><input type="checkbox" name="blank" class="styled"></span></div>
								Open link in a new window/tab
							</label>
						</div>

						<div class="checkbox">
							<label>
								<div class="checker"><span class=""><input type="checkbox" name="nofollow" class="styled"></span></div>
								Add <span class="bg-grey-200 text-highlight">rel="nofollow"</span> to link
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary insert-link-to-post">Insert</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-title h6">
							<span>Navigation</span>
						</div>

						<div class="category-content no-padding">
							<% include includes/navigation %>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<% if (typeof alert !== 'undefined') { %>
					<%- app.alert(alert);%>
				<% } %>
				<form class="row edit-form <%- formClass%>" action="<%- formPostTo%>" method="post">
					<div class="col-md-9 main-panel">
						<!-- Edit post -->
						<% var editor = app.editor(postData); %>
						<%- editor%>
						<script>
						    var editor = new wysihtml5.Editor('editor', {
						        toolbar: 'toolbar',
						        parserRules:  wysihtml5ParserRules
						    });
						</script>
						<!-- /edit post -->

						<% for (var i = 0; i < metaBoxes.length; i++) {%>
							<% if (metaBoxes[i].location === 'main' && metaBoxes[i].contentType === contentType) { %>
							<%- metaBoxes[i].rendered; %>
							<% } %>
						<% } %>

						<!-- /Post revisions -->
						<% if (cmsInfo.postRevisions && postRevisions.length >= 1) { %>
							<div class="panel panel-white revision-panel">
								<div class="panel-heading">
									<h6 class="panel-title">Post Revisions</h6>
								</div>
								<div class="panel-body revision-wrap">
									<ul class="list-unstyled">
									<%
										for (var i = postRevisions.length - 1; i >= 0; i--) {
											var title = postRevisions[i].postTitle;
											var user = postRevisions[i].updatedUser || postRevisions[i].user;
											var postId = postRevisions[i]._id;
											var status = postRevisions[i].status;
											var timestamp = postRevisions[i].updatedTimestamp;

											%>
												<li class="post-revision">
													<%- user%>, <%- app.timeAgo(timestamp, 'ddd, mmm ddS yyyy h:MMtt'); %>
													<a href="/<%-adminLocation%>/post-revision/<%-postId%>">(<%- app.formatDate(timestamp, 'ddd, mmm ddS yyyy h:MMtt'); %>)</a>
												</li>
											<%
										}
									%>
									</ul>
								</div>
							</div>
						<% } %>
						<!-- /post revisions -->
					</div>
					<div class="col-md-6 preview-panel">
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Preview<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
								<div class="heading-elements pull-right text-right">
									<button class="btn btn-info"><i class="fa fa-mobile" aria-hidden="true"></i></button>
									<button class="btn btn-info"><i class="fa fa-tablet" aria-hidden="true"></i></button>
									<button class="btn btn-info"><i class="fa fa-desktop" aria-hidden="true"></i></button>
									<button class="btn btn-info">Open in another tab</button>
								</div>
							</div>
							<div class="preview-body">
								<iframe src=""  width="100%" height="100%" frameBorder="0" onload="iframeLoaded()" id="previewiframe"></iframe>
							</div>
						</div>
					</div>
					<div class="col-md-3 side-panel">
						<div class="panel panel-white publish-panel">
							<div class="panel-body publish-wrap">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label>Status</label>
											<select class="selectpicker form-control show-menu-arrow" name="status">
											<%
												for (var i in statusTypes) {
													if (statusTypes.hasOwnProperty(i)) {
														const type = i;
														const named = statusTypes[i];
														const href = `/${adminLocation}/posts?status=${type}`;
														let selected = '';

														if (type === status) {
															selected = 'class="bg-teal-400" selected';
														}
														%><option value="<%- type%>" <%- selected%>><%- named%></option><%
													}
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<label>Template</label>
											<select class="selectpicker form-control show-menu-arrow" name="template">
												<option value="default">Default</option>
											<%
												for (var i = templates.length - 1; i >= 0; i--) {
													var value = templates[i].filename.replace('.ejs', '');
													if (template.trim() === value.trim()) {
														var selected = 'selected';
													} else {
														var selected = '';
													}
													%><option value="<%- value%>" <%- selected;%>><%- templates[i].name%></option><%
												}
											%>
											</select>
										</div>
									</div>
		                            <%
		                            	if (typeof postData.postUrl !== 'undefined') {
		                            		%>
											<div class="col-xs-12 text-right">
												<button type="submit" class="btn bg-danger-400 btn-labeled btn-labeled-right trash-editor pull-left"><b><i class="icon-bin"></i></b>Trash</button>
												<a href="<%- postData.postUrl%>" target="_blank" class="btn btn-primary">View post</a>
											</div>
		                            		<%
		                            	}
		                            %>
								</div>
							</div>
							<div class="panel-footer text-center text-danger">
	                            <div class="error_msg"></div>
								<input type="hidden" name="contentType" value="<%- contentType;%>" />
	                            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right submit-editor pull-right" <%- submitButtonProp%> ><b><i class="icon-circle-right2"></i></b> <%- submitButton%></button>
							</div>
						</div>

						<div class="panel panel-white category-panel">
							<div class="panel-heading">
								<h6 class="panel-title">Categories and Tags</h6>
							</div>
							<div class="panel-body publish-wrap">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label>Categories</label>
											<div class="input-group">
											   <input type="text" class="category-list-input form-control" data-autoSave="false" placeholder="Create a new category">
											   <span class="input-group-btn">
											        <button class="btn bg-info submit-new-category" type="button" disabled><i class="icon-plus2"></i></button>
											   </span>
											</div>
											<br />
											<%
												if (typeof categoryList !== 'undefined') {
											%>
											<select class="form-control add-category" multiple="multiple" title="Add a category">
												<option data-hidden="true"></option>
													<%
														var slugs = categoryList.slug;
														var names = categoryList.name;

														if (typeof slugs === 'string') {
															slugs = [slugs];
															names = [names];
														}

														for (var s = 0; s < slugs.length; s++) {
														    let item = '<option value="' + slugs[s] +'">' + names[s] +'</option>';
														    %><%- item%><%
														}
													%>
											</select>
											<%
												}
											%>

										</div>
										<div class="form-group">
											<label>Tags</label>
											<%
												if (typeof tagList !== 'undefined') {
											%>
											<select class="form-control add-tag" multiple="multiple" title="Add a tag">
												<option data-hidden="true"></option>
													<%
														var slugs = tagList.slug;
														var names = tagList.name;

														if (typeof slugs === 'string') {
															slugs = [slugs];
															names = [names];
														}

														for (var s = 0; s < slugs.length; s++) {
															let item = '<option value="' + slugs[s] +'">' + names[s] +'</option>';
															%><%- item%><%
														}
													%>
											</select>
											<%
												}
											%>

										</div>
										<div class="form-group">
											<legend class="text-bold">Post categories</legend>
											<ul class="category-list list-unstyled">
												<%
													let categories = postData.category;
													if (categories) {
														if (categories.slug) {
															if (typeof categories !== 'undefined') {
																let urlArray = postData.postUrl.split('/');
																let inUrl = '<button type="button" class="btn btn-default btn-xs category-to-url">Add to URL</button>';

																var slugs = categories.slug;
																var names = categories.name;

																if (typeof slugs === 'string') {
																	slugs = [slugs];
																	names = [names];
																}

																for (var s = 0; s < slugs.length; s++) {
																	for (var u = urlArray.length - 1; u >= 0; u--) {

																		if (urlArray[u] === slugs[s]) {
																			inUrl = '<button type="button" class="btn btn-default btn-xs category-to-url added">Remove from URL</button>'
																		}
																	}

																    let item = '<li data-id="' + slugs[s] + '" data-name="' + names[s] + '">'+ names[s] + ' <small class="category-list-options"><a>Options</a></small>\
															                    <div class="btn-group hidden category-list-options-buttons" role="group" aria-label="...">\
															                        ' + inUrl + '\
															                        <input type="hidden" data-id="' + slugs[s] +'" name="category[][slug]" value="' + slugs[s] +'">\
															                        <input type="hidden" data-id="' + slugs[s] +'" name="category[][name]" value="' + names[s] +'">\
															                        <button type="button" class="btn btn-default btn-xs category-remove">Remove</button>\
															                    </div>\
															                </li>';
															        %><%- item%><%
																}
															} else {
																%>None<%
															}
														}
													}
												%>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<% for (var i = 0; i < metaBoxes.length; i++) {%>
							<% if (metaBoxes[i].location === 'sidebar') { %>
							<%- metaBoxes[i].rendered; %>
							<% } %>
						<% } %>
						<div class="panel panel-white category-panel">
							<div class="panel-body publish-wrap">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<legend class="text-bold">Post Stats</legend>
											<div class="col-xs-6">
											  <h5>Read Time</h5>
											  <p class="read-time-stat"><%- postData.postStats.readTime || '0 seconds' %></p>
											  <input type="hidden" name="postStats[readTime]" value="">
											  <input type="hidden" name="postStats[readTimeSeconds]" value="">
											</div>
											<div class="col-xs-6">
											  <h5>Words</h5>
											  <p class="word-count-stat"><%- postData.postStats.wordCount || '0' %></p>
											  <input type="hidden" name="postStats[wordCount]" value="">
											</div>
											<div class="col-xs-6">
											  <h5>Unique Words</h5>
											  <p class="unique-words-stat"><%- postData.postStats.uniqueWordCount || '0' %></p>
											  <input type="hidden" name="postStats[uniqueWordCount]" value="">
											</div>
											<div class="col-xs-6">
											  <h5>Characters</h5>
											  <p class="characters-stat"><%- postData.postStats.characterCount || '0' %></p>
											  <input type="hidden" name="postStats[characterCount]" value="">
											</div>
											<div class="col-xs-6">
											  <h5>Sentences</h5>
											  <p class="sentences-stat"><%- postData.postStats.sentenceCount || '0' %></p>
											  <input type="hidden" name="postStats[sentenceCount]" value="">
											</div>
											<div class="col-xs-6">
											  <h5>Paragraphs</h5>
											  <p class="paragraph-stat"><%- postData.postStats.paragraphCount || '0' %></p>
											  <input type="hidden" name="postStats[paragraphCount]" value="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<% include includes/footer %>
