<% include includes/header %>
<% include includes/pageheader %>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-title h6">
							<span>Navigation</span>
						</div>

						<div class="category-content no-padding">
							<% include includes/navigation %>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<% if (typeof data.msg !== 'undefined') { %>
					<%- app.alert(data.msg);%>
				<% } %>
				<!-- Single line -->
				<div class="panel panel-white">
					<div class="panel-heading">
						<h6 class="panel-title">Plugins</h6>
					</div>

					<div class="table-responsive">
						<table class="table table-inbox">
							<thead>
								<tr>
									<th>Plugin</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody data-link="row" class="rowlink">
								<%
									for (var i = 0; i < plugins.length; i++) {

										var name = plugins[i].pluginInfo.name;
										var creator = plugins[i].pluginInfo.creator || 'unknown';
										var url = plugins[i].pluginInfo.url || 'unknown';
										var description = plugins[i].pluginInfo.description || 'n/a';
										var version = plugins[i].pluginInfo.version || 'unknown';
										var active = plugins[i].pluginInfo.active;

										%>
										<tr class="unread">
											<td class="table-inbox-message">
												<a href="/<%-adminLocation%>/user/edit/<%-name%>"><strong><%- name%></strong></a>
											</td>
											<td class="table-inbox-name">
												<a href="#">
													<div class="letter-icon-title text-default"><%- description%></div>
												</a>
												<br />
												<strong>Version:</strong> <%- version%> | <strong>By:</strong> <%- creator%> | <a href="<%- url%>" target="_blank"><%- url%></a>
												<br />
												<% if (active === true) { %>
													<a class="plugin-action" data-plugin-action="disable-plugin" data-plugin-name="<%-name%>" href="/<%-adminLocation%>/plugin/disable/<%-name%>">Disable</a>
												<% } else { %>
													<a class="plugin-action" data-plugin-action="enable-plugin" data-plugin-name="<%-name%>" href="/<%-adminLocation%>/plugin/enable/<%-name%>">Enable</a>
												<% } %>
												| <a class="plugin-action" data-plugin-action="delete-plugin" data-plugin-name="<%-name%>" href="/<%-adminLocation%>/plugin/delete/<%-name%>">Delete</a>
											</td>
										</tr>
										<%
									}
								%>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /single line -->
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<% include includes/footer %>
