<% include includes/header %>
<% include includes/pageheader %>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-title h6">
							<span>Navigation</span>
						</div>

						<div class="category-content no-padding">
							<% include includes/navigation %>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<% if (typeof data.msg !== 'undefined') { %>
					<%- app.alert(data.msg);%>
				<% } %>
					<!-- Single line -->
					<div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">Users</h6>
						</div>

						<div class="panel-toolbar panel-toolbar-inbox">
							<div class="navbar navbar-default">
								<ul class="nav navbar-nav visible-xs-block no-border">
									<li>
										<a class="text-center collapsed" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
											<i class="icon-circle-down2"></i>
										</a>
									</li>
								</ul>

								<div class="navbar-collapse collapse" id="inbox-toolbar-toggle-single">
									<div class="btn-group navbar-btn">
										<button type="button" class="btn btn-default btn-icon btn-checkbox-all">
											<div class="checker"><span><input type="checkbox" class="styled"></span></div>
										</button>

										<button type="button" class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>

										<ul class="dropdown-menu">
											<li><a href="#">Select all</a></li>
											<li><a href="#">Select read</a></li>
											<li><a href="#">Select unread</a></li>
											<li class="divider"></li>
											<li><a href="#">Clear selection</a></li>
										</ul>
									</div>

									<div class="btn-group navbar-btn delete-post">
										<button type="button" class="btn btn-default"><i class="icon-bin"></i> <span class="hidden-xs position-right">Delete</span></button>
									</div>

									<div class="navbar-right">

										<%
											let offset = Number(data.limits.offset);
											let limit = Number(data.limits.limit);
											let shownLimit = limit
											let postCount = Number(data.userCount);
											let startCount = 1;
											let nextOffset = limit;
											let prevOffset = 0

											if (offset > 0) {
												startCount = offset + 1;
												nextOffset = offset + limit;
												prevOffset = offset - limit;
												shownLimit = limit + offset;
											}

											if (limit > postCount) {
												shownLimit = postCount
											}

											let hrefPrev = '/' + adminLocation + '/users?limit=' + limit + '&offset=' + prevOffset;
											let hrefNext = '/' + adminLocation + '/users?limit=' + limit + '&offset=' + nextOffset;

										%>
										<p class="navbar-text"><span class="text-semibold"><%- startCount;%>-<%- shownLimit; %></span> of <span class="text-semibold"><%- postCount; %></span></p>

										<%
											if (Number(limit) < postCount) {
												let nextDisabled = '';
												let prevDisabled = '';

												if (nextOffset >= postCount) {
													nextDisabled = 'disabled';
												}

												if (prevOffset === 0 && startCount <= 1) {
													prevDisabled = 'disabled';
												}
												%>
												<div class="btn-group navbar-left navbar-btn">
													<a href="<%- hrefPrev;%>" type="button" class="btn btn-default btn-icon <%- prevDisabled;%>"><i class="icon-arrow-left12"></i></a>
							                    	<a href="<%- hrefNext;%>" type="button" class="btn btn-default btn-icon <%- nextDisabled;%>"><i class="icon-arrow-right13"></i></a>
												</div>
												<%
											}
										%>

										<div class="btn-group navbar-btn">
											<form>
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
													<i class="icon-cog3"></i>
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a>Post count <input class="form-control" type="text" name="limit" value="<%- data.limit%>"></a></li>
												</ul>
											</form>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="table-responsive">
							<table class="table table-inbox">
								<thead>
									<tr>
										<th></th>
										<th>User</th>
										<th>Type</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody data-link="row" class="rowlink">
									<%

										var users = data.users;
										for (var i = 0; i < users.length; i++) {
											var username = users[i].username;
											var email = users[i].email;
											var id = users[i]._id;
											var accounttype = users[i].accounttype;
											%>
											<tr class="unread">
												<td class="table-inbox-checkbox rowlink-skip" width="25px">
													<div class="checker"><span><input type="checkbox" class="styled" value="<%-id%>"></span></div>
												</td>
												<td class="table-inbox-message">
													<a href="/<%-adminLocation%>/user/edit/<%-id%>"><strong><%- username%></strong></a>
												</td>
												<td class="table-inbox-name">
													<a href="#">
														<div class="letter-icon-title text-default"><%- app.capitalizeFirstLetter(accounttype)%></div>
													</a>
												</td>
												<td class="table-inbox-name">
													<a href="#">
														<div class="letter-icon-title text-default"><%- email%></div>
													</a>
												</td>
											</tr>
											<%
										}
									%>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /single line -->

			</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<% include includes/footer %>
