<% include includes/header %>
<% include includes/pageheader %>
<script>
	<% if (data.users[0].pushSubscription && data.users[0].pushSubscription.endpoint) { %>
		subscriptionStatus = true;
	<% } else { %>
		subscriptionStatus = false;
	<% } %>
</script>

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-title h6">
							<span>Navigation</span>
						</div>

						<div class="category-content no-padding">
							<% include includes/navigation %>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<% if (data && typeof data.msg !== 'undefined') { %>
					<%- app.alert(data.msg);%>
				<% } %>
				<!-- Single line -->
				<div class="panel panel-white">
					<div class="panel-heading">
						<h6 class="panel-title">Editing <%- data.users[0].username%></h6>
					</div>

					<div class="panel-body">
						<div class="col-md-12">
							<form class="form-horizontal" action="/<%- adminLocation;%>/update-user" method="POST">
								<input type="hidden" name="formType" value="update">
								<input type="hidden" name="userId" value="<%- data.users[0]._id%>">
								<legend class="text-bold">User Details</legend>
								<div class="form-group">
									<label class="control-label col-lg-2">Username</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" name="username" value="<%- data.users[0].username%>">
										<span class="help-block">This users Username</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Email address</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" name="email" value="<%- data.users[0].email%>">
										<span class="help-block">Email address of the user</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Name</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" name="realname" value="<%- data.users[0].realname%>">
										<span class="help-block">The real name of the user</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Display name</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" name="displayname" value="<%- data.users[0].displayname%>">
										<span class="help-block">How the site will display the user's name</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Preferred editor</label>
									<div class="col-lg-3">
										<select class="form-control" name="editortype">

											<%
												var editortype = ['visual', 'HTML', 'markdown'];
												for (var i = 0; i < editortype.length; i++) {

													var selected = '';

													if (data.users[0].editortype === editortype[i]) {
														var selected = 'selected';
													}

													%>
													<option value="<%- editortype[i];%>" <%- selected;%>><%- app.capitalizeFirstLetter(editortype[i]);%></option>
													<%
												}
											%>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Display this name</label>
									<div class="col-lg-3">
										<select class="form-control" name="displaytype">

											<%
												var displayTypes = ['username', 'realname', 'displayname'];
												var displayTypesText = ['Username', 'Real name', 'Display name'];
												for (var i = 0; i < displayTypes.length; i++) {

													var selected = '';

													if (data.users[0].displaytype === displayTypes[i]) {
														var selected = 'selected';
													}

													%>
													<option value="<%- displayTypes[i];%>" <%- selected;%>><%- displayTypesText[i];%></option>
													<%
												}
											%>
										</select>
									</div>
								</div>
								<% if (currentUser.caps.addUsers) { %>
									<div class="form-group">
										<label class="control-label col-lg-2">Role</label>
										<div class="col-lg-3">
											<select class="form-control" name="accounttype">
												<% for (var i = 0; i < data.roles.length; i++) { %>
													<% if (data.users[0].accounttype === data.roles[i]) {%>
														<option value="<%- data.roles[i];%>" selected><%- app.capitalizeFirstLetter(data.roles[i]);%></option>
													<% } else {%>
														<option><%- app.capitalizeFirstLetter(data.roles[i]);%></option>
													<% } %>
												<% } %>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-2">Assigned Editor</label>
										<div class="col-lg-3">
											<select class="form-control" name="assignedEditor">
												<option value="" selected disabled>Select an Editor</option>
												<%
													const availableEditors = data.editors.users;
													for (var ae = 0; ae < availableEditors.length; ae++) {
												%>
													<% if (data.users[0].assignedEditor == availableEditors[ae]._id) {%>
														<option value="<%- availableEditors[ae]._id; %>" selected><%- availableEditors[ae].username%></option>
													<% } else { %>
														<option value="<%- availableEditors[ae]._id; %>"><%- availableEditors[ae].username;%></option>
													<% } %>
												<% } %>
											</select>
										</div>
										<div class="col-lg-9 col-lg-offset-2">
											<span class="help-block">Assign an editor to this user.</span>
										</div>
									</div>
								<% } %>

								<% if (currentUser.caps.editUsers || data.users[0]._id == data.userId) { %>
									<div class="form-group has-feedback">
										<label class="control-label col-lg-2">Password</label>
										<div class="col-lg-3">
											<input type="password" class="form-control" name="password">
											<div class="form-control-feedback show-password">
												<i class="icon-eye"></i>
											</div>
											<span class="help-block">Change the users password</span>
										</div>
										<div class="col-md-2">
											<button class="btn btn-info generateRandomPassword">Generate</button>
										</div>
									</div>
								<% } %>
								<% if (currentUser.caps.enableAdminPush && cmsInfo.pushEnabled === true) { %>
									<div class="form-group has-feedback">
										<label class="control-label col-lg-2">Push notifications<br /> (Admin only) </label>
										<div class="col-lg-10">
											<button class="btn btn-primary" id="adminPushNotifications" name="adminPushNotifications">
												Enable Push Messaging
											</button>
											<span class="help-block">Enable/Disable push notification for this user. As an admin, you can force this user to not get notifications.</span>
										</div>
									</div>
								<% } %>

								<% if (currentUser.caps.issueKeys) { %>
									<legend class="text-bold">API Keys</legend>
									<div class="form-group has-feedback">
										<label class="control-label col-lg-2">Issue/Revoke API keys</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" value="<%- data.users[0].apiKey%>" name="apiKey" readonly>
											<span class="help-block">API key</span>
										</div>
										<div class="col-md-3">
											<button class="btn btn-info generateApiKey">Generate</button>
											<button class="btn btn-warning revokeApiKey">Revoke</button>
										</div>
									</div>
								<% } %>

								<% if (currentUser.caps.editUserPermissions) { %>
									<legend class="text-bold">Permissions</legend>
									<div class="form-group has-feedback">
										<label class="control-label col-lg-2">Edit user permissions </label>
										<div class="col-lg-10">
											<div class="row">
											<%
												var userCaps = data.users[0].permissions;
												for (var i in userCaps) {
													if (userCaps.hasOwnProperty(i)) {
														var setting = i;
														var status = userCaps[i]
														if (status) {
															var checked = 'checked';
														} else {
															var checked = '';
														}
													%>
													<div class="col-xs-2 col-sm-4 col-md-3">
														<label class="checkbox-inline">
															<div class="checker"><span class="<%- checked; %>"><input type="checkbox" class="styled" checked="<%- checked; %>"></span></div>
															<%- setting;%>
														</label>
													</div>
													<%
													}
												}
											%>
											</div>
										</div>
									</div>
								<% } %>

								<% if (data.users[0]._id == data.userId && cmsInfo.pushEnabled === true) { %>
									<legend class="text-bold">Push Notifications</legend>

									<%
										if (data.users[0].pushSubscription && data.users[0].pushSubscription.endpoint) {
											var subscribeText = 'Unsubscribe from push notifications';
											var subscribeButtonClass = 'btn-danger unsubscribe-action';
										} else {
											var subscribeText = 'Subscribe to push notifications';
											var subscribeButtonClass = 'btn-primary';
										}
									%>
									<div class="form-group has-feedback">
										<label class="control-label col-lg-2">Push notifications</label>
										<div class="col-lg-10">
											<button class="btn <%- subscribeButtonClass;%>" id="userPushNotifications" name="userPushNotifications" data-userid="<%-data.userId;%>">
												<%- subscribeText;%>
											</button>
											<span class="help-block">Subscribe to push notifications from this site</span>
											<br />
											<h6>Notification types</h6>
											<span class="help-block">Choose which notifications you receive</span>
											<div class="tabbable">
												<ul class="nav nav-tabs nav-tabs-top">
													<% if (currentUser.caps.adminPushNotifications) { %>
													<li class="active"><a href="#top-tab1" data-toggle="tab" aria-expanded="true">Admin specific</a></li>
													<% } %>
													<% if (currentUser.caps.editorPushNotifications) { %>
													<li class=""><a href="#top-tab1" data-toggle="tab" aria-expanded="true">Editor specific</a></li>
													<% } %>
													<% if (currentUser.caps.authorPushNotifications) { %>
													<li class=""><a href="#top-tab1" data-toggle="tab" aria-expanded="true">Author specific</a></li>
													<% } %>
													<% if (currentUser.caps.contributorPushNotifications) { %>
													<li class=""><a href="#top-tab1" data-toggle="tab" aria-expanded="true">Contributor specific</a></li>
													<% } %>
													<% if (currentUser.caps.subscriberPushNotifications) { %>
													<li class=""><a href="#top-tab1" data-toggle="tab" aria-expanded="true">Subscriber specific</a></li>
													<% } %>
													<li class=""><a href="#top-tab2" data-toggle="tab" aria-expanded="false">Standard notifications</a></li>
												</ul>

												<div class="tab-content">
													<% if (currentUser.caps.adminPushNotifications) { %>
													<div class="tab-pane active" id="top-tab1">
														<label class="checkbox-inline">
															<div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
															Checked styled
														</label>
														<label class="checkbox-inline">
															<div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
															Checked styled
														</label>
													</div>
													<% } %>

													<div class="tab-pane <% if (!currentUser.caps.enableAdminPush) { %> active <% } %>" id="top-tab2">
														Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin.
													</div>

													<div class="tab-pane" id="top-tab3">
														DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever.
													</div>

													<div class="tab-pane" id="top-tab4">
														Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet.
													</div>
												</div>
											</div>

										</div>

									</div>
								<% } %>

								<button class="btn btn-success">Update</button>

								<% if (currentUser.caps.editUsers || data.users[0]._id === data.userId) { %>
									<hr />
									<h4>Remove this user</h4>
									<em>WARNING: Removing this user will not delete any content they added. Content will be assigned to the administrator.</em>
									<br />
									<button class="btn btn-warning delete-user">Delete User</button>
								<% } %>

    						</form>
    					</div>
					</div>
				</div>
				<!-- /single line -->

			</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<% include includes/footer %>
